body {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
    background: #fafafa;
    color: #333;
    padding: 2rem;

}

.app {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;
}

.folder {
    margin-left: 1rem;
}

.folder-header {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 4px 0;
    transition: color 0.2s ease;
}

.folder-header:hover {
    color: #0078ff;
}

.folder-icon {
    font-size: 18px;
}

.folder-children {
    margin-left: 1.2rem;
    border-left: 1px dashed #ccc;
    padding-left: 0.8rem;
}

.file {
    margin-left: 1.2rem;
    padding: 2px 0;
    color: #666;
    font-style: italic;
}