body {
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
    font-weight: bold;

}

nav {
    margin-left: 50px;
    margin-top: 50px;
    width: 30%;
    float: left;
}

.wrapper {
    width: 60%;
    float: right;
    margin-top: 50px;
    margin-right: 50px;
}

header img {
    width: 100%;
}

h1 {
    text-align: right;
}

h2 {
    text-align: right;
    color: darkgrey;
}

.book {
    display: grid;
    grid-template-columns: auto auto auto;
}

.book img {
    width: 100%;
}

footer {
    margin-top: 50px;
    text-align: right;
}

/**This is for cell phones*/

@media (max-width: 480px) {
    nav {
        margin: 0, auto;
        margin-bottom: 50px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 0;
        line-height: 30px;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: 4px solid #000;
        background: #000;
        z-index: 100;
        color: white
    }

    nav a {
        color: white;
    }

    h1 {
        margin-top: 50px;
    }

    .wrapper {
        margin-top: 50px;
        position: relative;
        width: 90%;
        margin: 0 auto;
        float: none;
    }

    footer {
        margin-top: 40px;
        font-size: 12px;
    }

    .book {
        grid-template-columns: auto auto;
        gap: 16px;
    }
}