body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: black;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
    font-weight: bold;

}

nav {
    margin-left: 50px;
    margin-top: 50px;
    width: 30%;
    float: left;
}

.wrapper {
    width: 60%;
    float: right;
    margin-top: 50px;
    margin-right: 50px;
}

header img {
    width: 100%;
}

h1 {
    text-align: right;
}

footer {
    margin-top: 50px;
    text-align: right;
}